@font-face{
    font-family: NorseBold;
    src: url(./fonts/Norsebold.otf)
}


body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    
}

.leftsidecard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 70%;
    height: 100%;

}


.logocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-top: 0px;

}

#logotext{
    color: white;
    font-family: NorseBold;
    font-size: 90px;
    /* padding: 0px; */
}

footer{
    align-self:center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-bottom:10px;
}

a{
    color: white;
}

.formcontainer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.commentcontainer{
    padding-left: 20px;
    font-size: 18px;

}

#commentone{
    width: 510px;
}

#formbodycontainer{
    background-color: white;
    box-shadow: 0px 5px 5px -4px rgb(0, 0, 0,0.2);

}

#formbody{
    background-color: white;
    padding-left: 20px;
    
 
}



.details{
    display: flex;
    gap: 50px;
}

legend{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

label, legend, #actiontext, .commentcontainer{
    font-family:  sans-serif;
     
}

label{
    letter-spacing: 1px;
    font-size: 10px;
    
}


input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 20px;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 0 2px 2px -1px rgba(0,0,255,0.3);
    outline: none;
}

input:user-invalid{
    box-shadow: 0 2px 1px -1px rgba(250,0,0.3);
}

.actionbtncontainer{
    padding-top: 20px;
    padding-left: 20px;
}

button[type="submit"]{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    padding: 10px 37px 10px 37px;
}

#actiontext{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

#login{
    color: #596d48;
}


